body{
  background-color: #464c58;
  color: white;
  padding: 80px;
}

.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  margin-top: 30px;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.seriesList{
  text-align: center;
}

.seriesList h3{
  background-color: rgba(255, 255, 255, 0.603);
  color: black;
  border-radius: 10px;
  height: 40px;
  padding-top: 20px;
}

.form{
  margin:10px auto;
	padding: 20px 12px 10px 20px;
  margin-left: 15%;
}

.form input {
  padding: 0;
	display: block;
	margin: 10px 0 0 0;
  width: 80%;
}

.form label {
  margin:0 0 3px 0;
	padding:0px;
	display:block;
}

.counter{
  text-align: center;
}